.li-navbar{
  display: none;
}
.button-sub-log{
  display: none;
}
.color-bg{
  background-color: #040404;
}
.btn-color{
  background-color: #4717F6;
}
.tx-color{
  color: #4717F6;
}
.li-desplegable:hover{
  border-radius: 100px;
  background-color: #4717F6;
  color: white;
}
.icono-custom:hover{
  background-color: #4717F6;
  cursor:pointer;
  color: white;
  border-radius: 100%;
}
.bi-person:hover{
  color: white;
}
.btn:hover{
  background-color: #040404;
}
.btn-suscripción{
  border: 0;
  background-color: white;
  padding: 4px 16px;
}
@media screen and (min-width:768px) {
  .li-desplegable{
    display: none;
  }
  .icono-custom{
    display: none;
  }
  .icon-person{
    display: none;
  }
  .li-navbar{
    display: flex;
    order: 1;
  }
  .hover:hover{
   transition: all 1s ease;
   background-color:  #4717F6;
  }
  .button-sub-log{
    display: block;
    order: 2;
  }
  ul.d-flex{
    list-style: none;
  }
}